<%= form_with model: [current_user, @profile], :class => "ui form", local: true do |form| %>
  <div class = "ui container" style="margin-top: 50px;">
  <h1 class="ui dividing header">Edit My Profile</h1>
  <div class = "ui field">
    <%= image_tag @profile.avatar, :style => "height: 60px; weight: 60px;" %><br /><br>
    <%= form.file_field :avatar %>
  </div>

  <div class = "ui field">
    <%= form.label :last_name %><br>
    <%= form.text_field :lname %>
  </div>

  <div class = "ui field">
    <%= form.label :first_name %><br>
    <%= form.text_field :fname %>
  </div>

  <div class = "ui field">
    <%= form.label :gender %><br>
    <%= form.text_field :gender %>
  </div>

  <div class = "ui field">
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone %>
  </div>

  <div class = "ui field">
    <%= form.label :personal_website %><br>
    <%= form.text_field :website %>
  </div>

  <div class = "ui field">
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>

  <div class = "ui field">
    <%= form.label :major %><br>
    <%= form.text_field :major %>
  </div>

  <div class = "ui field">
    <%= form.label :about %><br>
    <%= form.text_area :about %>
  </div>

  <div class = "ui field">
    <%= form.submit :class=>'ui primary button'%>
    <%= link_to 'Back', user_profile_path, :class=>'ui secondary button' %>
  </div>
  </div>
<% end %>
