<% if @user == current_user %>
  <h1> My Profile </h1>
<% else %>
  <h1> <%= @user.username %>'s Profile </h1>
<% end %>
<p>
  <%= image_tag @profile.avatar, :style => "height: 60px; weight: 60px;" %><br />
  <strong>Last Name:</strong>
    <%= @profile.lname %><br />
  <strong>First Name:</strong>
    <%= @profile.fname %>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_profile_path %><br />
  <%= link_to 'Edit Account', edit_user_registration_path %>
<% end %>
