<h1>Edit Note <%= @note.title %> </h1>

<%= form_with scope: :note, :class => "ui form", url: course_note_path(@course), method: :patch, local:true do |form| %>
  <div style="width: 1500px; margin-left: auto; margin-right: auto; margin-top: 75px; margin-bottom: 100px">

  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@note.errors.count, "error") %> prohibited
        this note from being saved:
      </h2>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class = "field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>


    <%= form.submit :class=>'ui primary button'%>
    <%= link_to 'Back', course_notes_path, :class=>'ui secondary button' %>


  </div>

<% end %>

