<div style="margin-left: 100px; margin-top: 50px; width: 80%">
  <h1 class="ui dividing header">List all notes</h1>

  <div class="ui borderless compact menu" style = "margin-bottom: 30px;">
  <%= link_to 'Home', course_path(@course), :class=>"item"%>
  <%= link_to 'Notes', course_notes_path(@course), :class=>"active item"%>
  <%= link_to 'Links', course_links_path(@course, @link), :class=>"item"%>
  <%= link_to 'Discussions', course_discussions_path(@course, @discussion), :class=>"item" %>
  <%= @course.groups%>
</div>

  <div class = "ui four cards">
    <% @notes.each do |note| %>
      <%= link_to course_note_path(@course, note), { :class=>"ui raised link card" } do %>
        <div class="content">
          <div class="header"><%= note.title %></div>
          <div class="meta">Uploaded Date: <%= time_ago_in_words(note.updated_at) %> ago</div>
          <div class="description"><%= note.description %></div>
        </div> 
      <div class="extra content">
        <div class="right floated author">
          <img class="ui avatar image"> <%= User.find(note.user_id).username %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div style = "margin-top : 50px;">
  <%= link_to 'Add New Note', new_course_note_path, :class => 'ui primary button'%>
  <%= link_to course_path(@course) do %>
    <div class = "ui secondary button">
    Back
    </div>
  <% end %>
  <%= link_to controller: 'welcome' do %>
    <div class = "ui secondary button">
    Main Page
    </div>
    <% end %>
  </div>
</div>
