<div style="margin-left: 100px; margin-top: 50px">
  <h1 class="ui dividing header">List all notes</h1>

  <div class = "ui four cards">
    <% @notes.each do |note| %>
      <%= link_to course_note_path(@course, note), { :class=>"ui raised link card" } do %>
        <div class="content">
          <div class="header"><%= note.title %></div>
          <div class="meta">Uploaded Date</div>
          <div class="description"><%= note.description %></div>
        </div> 
      <div class="extra content">
        <div class="right floated author">
          <img class="ui avatar image"> Author Name
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div style = "margin-top : 50px;">
  <%= link_to 'Add New Note', new_course_note_path, :class => 'ui primary button'%>
  <%= link_to controller: 'welcome' do %>
    <div class = "ui secondary button">
    Main Page
    </div>
    <% end %>
  </div>
</div>
