<div class="ui container" style="margin-top: 50px;">
  <h1 class="ui dividing header">List all notes</h1>

  <div class="ui borderless compact menu" style = "margin-bottom: 30px;">
  <%= link_to 'Home', course_path(@course), :class=>"item"%>
  <%= link_to 'Notes', course_notes_path(@course), :class=>"active item"%>
  <%= link_to 'Links', course_links_path(@course, @link), :class=>"item"%>
  <%= link_to 'Discussions', course_discussions_path(@course, @discussion), :class=>"item" %>
  <%= @course.groups%>
</div>

  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable a").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

  <div class="ui search">
  <div class="ui icon input">
    <input id="myInput" class="prompt" type="text" placeholder="Search notes..." style="width: 300px;">
    <i class="search icon"></i>
  </div>
</div>


  <div id="myTable" class = "ui four cards" style="margin-top:30px;">
    <% @notes.each do |note| %>
      <%= link_to course_note_path(@course, note), { :class=>"ui raised link card"  style="height: 230px; overflow: hidden;"} do %>
        <div class="content"  style="height: 200px; overflow: hidden;">
          <div class="header"><%= note.title %></div>
          <div class="meta">Uploaded Date: <%= time_ago_in_words(note.updated_at) %> ago</div>
          <div class="description"><%= note.description %></div>
        </div> 
      <div class="extra content">
        <div class="right floated author">
          <img class="ui avatar image"> <%= User.find(note.user_id).username %>
        </div>
      </div>
      <div class="extra content" style="margin-top: 10px;">
      <div class="ui labeled button" tabindex="0">
    <%= link_to course_note_addUpvote_path(@course,note), method: :patch do %>
      <div class="ui red button">
      <i class="hand point up icon"></i> Upvotes
    </div>
    <a class="ui basic red left pointing label">
    <%= note.upvotes.length %>
    </a>
    <% end %>
    </div>
    <div class="ui labeled button" tabindex="0">
    <%= link_to course_note_addDownvote_path(@course, note), method: :patch do %>
      <div class="ui basic blue button">
      <i class="hand point down icon"></i> Downvotes
    </div>
    <a class="ui basic left pointing blue label">
      <%= note.downvotes.length%>
    </a>
    <% end %>
    </div>
    </div>
      <% end %>
    <% end %>
  </div>

  <div style = "margin-top : 50px;">
  <%= link_to 'Add New Note', new_course_note_path, :class => 'ui primary button'%>
  <%= link_to course_path(@course) do %>
    <div class = "ui secondary button">
    Back
    </div>
  <% end %>
  <%= link_to controller: 'welcome' do %>
    <div class = "ui secondary button">
    Main Page
    </div>
    <% end %>
  </div>
</div>
