<div class = "ui container">
<h1>Show note</h1>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @note.user.username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<%= if current_user.id == @note.user_id
      link_to "Edit", edit_course_note_path(@course), :class=>'ui secondary button'
end%>

<%= if current_user.id == @note.user_id
  link_to 'Delete', course_note_path(@course), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'ui secondary button' 
end%>

<%= link_to 'Back', course_notes_path(@course), :class=>'ui secondary button' %>

<<<<<<< HEAD
<% if false %>
  <p>
  <strong>Files:</strong>
  <ul>
  <% @note.noteFiles.each do |file| %>
    <li>
      <%= image_tag file.preview(resize_to_limit: [100, 100]) %>
    </li>
  <% end %>
</ul>
  <p> TODO display pdf of notes</p>
</p>
<% end %>
</div>
=======
<h2>Attachments:</h2>
<%if @note.noteFile.attached? %>
  <%if @note.noteFile.filename.extension_with_delimiter == ".pdf" %>
    <div style="text-align: center">
      <iframe src="<%=(url_for(@note.noteFile))%>" width="80%" height="680" style="border: none; display: inline-block;"> </iframe>
    </div>
  <% else %>
    <%= link_to "Download file", rails_blob_path(@note.noteFile, disposition: "attachment") %>
  <%end%>
<% end %>
>>>>>>> 7a59f48254a039cd23ca42d2ae15ba7037e94fe3
