<h1>Show note</h1>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @note.user.username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>PDF:</strong>
  <p> TODO display pdf of notes</p>
</p>

<%= link_to "Edit", edit_course_note_path(@course), :class=>'ui secondary button'%>
<%= link_to 'Back', course_notes_path(@course), :class=>'ui secondary button' %>
