<%= form_with scope: :group_announcement, url: group_announcements_path, local: true do |form| %>
    <p>
      <%= form.label :announcement_title %><br>
      <%= form.text_field :announcement_title %>
    </p>
   
    <p>
      <%= form.label :announcement_content %><br>
      <%= form.text_field :announcement_content %>
    </p>
     
    <p>
      <%= form.submit %>
    </p>
  <% end %>