<div style="margin-left: 100px; margin-top: 50px"><h1>There are 0 Buddies available to help you!</h1></div>

<table class="ui selectable celled table" style="width: 1500px; margin-left: auto; margin-right: auto">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Hourly rate</th>
    <th>Image</th>
    <th></th>
  </tr>
  </thead>

  <% @buddies.each do |buddy| %>
    <tr>
      <td><%= buddy.fname + " " + buddy.lname %></td>
      <td><%= buddy.description %></td>
      <td><%= buddy.hourly_rate %></td>
      <td><%= image_tag current_user.profile.avatar %></td>

    </tr>
  <% end %>
</table>

<div style="margin-left: 100px; margin-top: 50px">
  <%= link_to 'Become a StudyBuddy', new_buddy_path, :class => 'ui primary button' %>
</div>

<div style="margin-left: 100px; margin-top: 50px">
  <%= link_to 'Main Page', root_path, :class => 'ui primary button' %>
</div>