<h1>Listing buddies</h1>

<%= link_to 'Sign up as a Studybuddy', new_buddy_path %>
&nbsp;
<%= link_to 'Main Page', controller: 'welcome' %>

<table>
  <tr>
    <th>Username</th>
    <th>Service</th>
    <th>Description</th>
    <th>Hourly rate</th>
    <th></th>
  </tr>
 
  <% @buddies.each do |buddy| %>
    <tr>
      <td><%= buddy.username %></td>
      <td><%= buddy.service %></td>
      <td><%= buddy.description %></td>
      <td><%= buddy.hourly_rate %></td>
      <td><%= link_to 'Show', buddy_path(buddy) %></td>
    </tr>
  <% end %>
</table>
