<%= form_with scope: :buddy, :class => "ui form", url: buddies_path, local: true do |form| %>

  <% if @buddy.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@buddy.errors.count, "Error") %> Occurred During the Sign up Process:
      </h2>
      <ul>
        <% @buddy.errors.full_messages.each do |msg| %>

          <% if msg.include? "Fname" %>
            <li><%= msg.sub! 'Fname', 'First name' %></li>
            
          <% elsif msg.include? "Lname" %>
            <li><%= msg.sub! 'Lname', 'Last name' %></li>
            
          <% elsif msg.include? "Description can't be blank" %>
            
            <li><%= msg.sub! "Description can't be blank", 'You must provide a description for why you would like to be a Buddy' %></li>
          <% else %>
            <li><%= msg %></li>
          <% end %>

        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 1500px; margin-left: auto; margin-right: auto; margin-top: 75px; margin-bottom: 100px">

    <h3 class="ui dividing header">Sign up to Become a Buddy!</h3>

    <div class="fields">
      <div class="six wide field">
        <%= form.label :first_name %><br>
        <%= form.text_field :fname, :value => current_user.profile.fname, placeholder: "First Name" %>
      </div>
      <div class="six wide field">
        <%= form.label :last_name %><br>
        <%= form.text_field :lname, :value => current_user.profile.lname, placeholder: "Last Name" %>
      </div>
      <div class="six wide field">
        <%= form.label :username, "StudyBuddy Username" %><br>
        <%#= form.text_field :username, :value => current_user.username, placeholder: "StudyBuddy Username", :disabled => true%>
        <%= form.text_field :username, :value => current_user.username, placeholder: "StudyBuddy Username" %>
      </div>
    </div>


    <div class="field">
      <%= form.label :description, "Why would you like to be a Buddy?" %><br>
      <%= form.text_area :description, placeholder: "I would like to be a Buddy because..." %>
    </div>

    <div class="field">
      <%= form.label :courses, "Which course(s) would you like to tutor?" %>
      <%= form.collection_select(:courses, Course.all, :id, :name, {:prompt => "Available courses:"}, {:multiple => true}) %>
    </div>

    <div class="field">
      <%= form.label :hourly_rate, "What hourly rate would you like to be compensated at?" %><br>
      <%= form.text_field :hourly_rate, placeholder: "25.00" %>
    </div>

    <div class="field">

      <%= form.submit "Sign Up", :class => 'ui primary button' %>
    </div>
  </div>
<% end %>