<%= form_with scope: :buddy, :class => "ui large form", url: buddies_path, local: true do |form| %>

  <% if @buddy.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@buddy.errors.count, "error") %> occurred during the sign up process:
      </h2>
      <ul>
        <% @buddy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 1500px; margin-left: auto; margin-right: auto; margin-top: 75px; margin-bottom: 100px">

    <h3 class="ui dividing header">Sign up to Become a Buddy!</h3>

    <div class="fields">
      <div class="six wide field">
        <%= form.label :first_name %><br>
        <%= form.text_field :fname, :value => current_user.profile.fname, placeholder: "First Name" %>
      </div>
      <div class="six wide field">
        <%= form.label :last_name %><br>
        <%= form.text_field :lname, :value => current_user.profile.lname, placeholder: "Last Name" %>
      </div>
      <div class="six wide field">
        <%= form.label :username, "StudyBuddy Username" %><br>
        <%= form.text_field :username, :value => current_user.username, placeholder: "StudyBuddy Username" %>
      </div>
    </div>


    <div class="field">
      <%= form.label :description, "Why would you like to be a Buddy?" %><br>
      <%= form.text_area :description %>

    </div>

    <div class="field">
      <%= form.label :courses %><br>
      <%= form.text_field :courses %>
    </div>


    <div class="field">
      <%= form.label :hourly_rate %><br>
      <%= form.text_field :hourly_rate %>
    </div>

    <div class="field">
      <%= form.submit :class => 'ui primary button' %>
    </div>
  </div>
<% end %>