<div class ="ui container" style="margin-top: 20px; margin-bottom: 20px;">

<div class ="ui raised segment">
<div class = "ui grid">
<div class="four wide column">
<div class ="ui medium round image">
<%= image_tag current_user.profile.avatar %>
</div>
</div>
<div class ="twelve wide column" style="margin-top: 20px; margin-bottom: 20px;">

  <h2 class ="ui dividing header"><%= @buddy.fname + " " + @buddy.lname %></h2>

  <h4>About</h4>
  <p><%= @buddy.about %></p>

<p>
  <strong>Username:</strong>
  <%= @buddy.username %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @buddy.courses %>
</p>

<p>
  <strong>Description:</strong>
  <%= @buddy.description %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @buddy.hourly_rate %>
</p>

</div>

</div>
</div>

<%= link_to 'Back', buddies_path, :class=>"ui button" %>
</div>