<p>
  <strong>Username:</strong>
  <%= @buddy.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @buddy.fname + " " + @buddy.lname %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @buddy.courses %>
</p>

<p>
  <strong>Description:</strong>
  <%= @buddy.description %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @buddy.hourly_rate %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @buddy.courses %>
</p>

<%= link_to 'Back', buddies_path %>