<div class ="ui container" style="margin-top: 20px; margin-bottom: 20px;">

<div class ="ui raised segment">
<div class = "ui grid">
<div class="four wide column">
<div class ="ui medium round image">
<%= image_tag current_user.profile.avatar %>
</div>
</div>
<div class ="twelve wide column" style="margin-top: 20px; margin-bottom: 20px;">

  <h2 class ="ui dividing header"><%= @buddy.fname + " " + @buddy.lname %></h2>

  <h4>About</h4>
  <p><%= @buddy.about %></p>

<p>
  <strong>Username:</strong>
  <%= @buddy.username %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @buddy.courses %>
</p>

<p>
  <strong>Description:</strong>
  <%= @buddy.description %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @buddy.hourly_rate %>
</p>

</div>
<div class="extra content" style="margin-top: 10px;">
<div class="ui labeled button" tabindex="0">
<%= link_to buddy_addUpvote_path(@buddy), method: :patch do %>
<div class="ui red button">
<i class="hand point up icon"></i> Upvotes
</div>
<a class="ui basic red left pointing label">
<%= @buddy.upvotes.length %>
</a>
<% end %>
</div>
<div class="ui labeled button" tabindex="0">
<%= link_to buddy_addDownvote_path(@buddy), method: :patch do %>
<div class="ui basic blue button">
<i class="hand point down icon"></i> Downvotes
</div>
<a class="ui basic left pointing blue label">
<%= @buddy.downvotes.length%>
</a>
<% end %>
</div>
</div>

</div>
</div>

<%= link_to 'Back', buddies_path, :class=>"ui button" %>
</div>