<h1>Listing Available Courses</h1>
<%= link_to 'New Course', new_course_path %>

<table>
  <tr>
    <th>CourseID</th>
    <th>Name</th>
    <th>Subject</th>
    <th>Term</th>
    <th>Course Code</th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_id %></td>
      <td><%= course.name %></td>
      <td><%= course.subject %></td>
      <td><%= course.term %></td>
      <td><%= course.course_code %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    </tr>
  <% end %>
</table>

