<%= form_with scope: :course, url: courses_path, local: true do |form| %>
    <p>
      <%= form.label :course_id %><br>
      <%= form.text_field :course_id %>
    </p>
   
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :subject %><br>
      <%= form.text_area :subject %>
    </p>


    <p>
      <%= form.label :term %><br>
      <%= form.text_field :term %>
    </p>

    <p>
      <%= form.label :course_code %><br>
      <%= form.text_field :course_code %>
    </p>
     
    <p>
      <%= form.submit %>
    </p>
  <% end %>

