<p>
<strong>Course ID:</strong>
<%= @course.course_id %>
</p>


<p>
<strong>Notes:</strong>
<%= @course.notes %>
</p>

<p>
<strong>Links:</strong>
<%= links_path %>
<%= link_to 'Links', links_path %>
</p>

<p>
<strong>Discussions:</strong>
<%= @course.discussions %>
</p>

<p>
<strong>Groups:</strong>
<%= @course.groups %>
</p>

<%= link_to 'Back', courses_path %>
