<%= form_with scope: :discussion, :class => "ui form",url: course_discussions_path, local: true do |form| %>
  <div class = "field">
        <%= form.label :discussion_name %>
        <%= form.text_field :discussion_name %>
      </div>
     
      <div class = "field">
        <%= form.label :discussion_administrator %>
        <%= form.text_field :discussion_administrator %>
      </div>
  
      <div class = "field">
      <%= form.label :Post %>
      <%= form.text_field :initial_post %>
      </div>
       
      <div class = "field">
        <%= form.submit :class=>'ui primary button'%>
      </div>
<% end %>