<%= form_with model: @group, :class => "ui form", local: true do |form| %>

    <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:
        </h2>
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class ="field">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div class ="field">
      <%= form.label :about %><br>
      <%= form.text_area :text %>
   </div>
  
   <div class ="field">
      <%= form.submit :class=>'ui primary button' %>
    </div>
  <% end %>
