<h1>Listing Groups</h1>

<%= link_to 'Main Page', controller: 'welcome' %> |
<%= link_to 'New Group', new_group_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.text %></td>
      <td><%= link_to 'Show', group_path(group) %></td>

      <% if not group.users.exists?(current_user.id) %>
        <td><%= link_to 'Join', join_group_path(group), method: :put %></td>
      <% else %>
        <td><%= link_to 'Leave', join_group_path(group),
                method: :put,
                data: { confirm: 'If you are the only member in the group, the group will be deleted after you leave. Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
