<script type='text/javascript'>
$("#group-table-button").click(function(){
    console.log("hit the table button");
    $("#group-cards").hide();
    $("#group-table").show();
});
$("#group-card-button").click(function(){
    console.log("hit the cards button");
    $("#group-cards").show();
    $("#group-table").hide();
});
</script>

<div class="ui container" style="margin-top: 50px">
<h1 class="ui dividing header">Listing Groups</h1>

<div class ="ui buttons">
  <div class="ui secondary button" id="group-card-button">
    Cards
  </div>
  <div class="ui secondary button" id="group-table-button">
  Table
</div>
</div>

<div id="group-cards">
  <div class = "ui four cards" style="margin-top: 10px">
  <% @groups.each do |group| %>
    <div class ="ui raised link card ">
    <%= link_to group_path(group), { :class=>"content" } do %>
        <div class="header"><%= group.name %></div>
        <div class="meta">Uploaded Date</div>
        <div class="description"><%= group.text %></div>
      <% end %>
      <div class="extra content">
      <% if not group.users.exists?(current_user.id) %>
      <%= link_to 'Join', join_group_path(group),:class=>"ui secondary button", method: :put %>
    <%else%>
      <%= link_to 'Leave', join_group_path(group),
            :class=>"ui secondary button", 
            method: :put,
            data: { confirm: 'If you are the only member in the group, the group will be deleted after you leave. Are you sure?' } %>
    <%end%>
        <div class="right floated author">
        <img class="ui avatar image"> username
        </div>
      </div>
      </div>
  <% end %>
</div>
</div>

<div id="group-table" style="display:none; margin-top: 50px">
<table class="ui selectable celled table" >
<thead>
  <tr>
    <th>Group Name</th>
    <th>Description</th>
    <th>Group Admin</th>
    <th>Join/Leave</th>
  </tr>
  </thead>
<tbody>
  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group_path(group) %></td>
      <td><%= group.text %></td>
      <td>Admin</td>
      <% if not group.users.exists?(current_user.id) %>
      <td><%= link_to 'Join', join_group_path(group), method: :put %></td>
    <%else%>
      <td><%= link_to 'Leave', join_group_path(group),
            method: :put,
            data: { confirm: 'If you are the only member in the group, the group will be deleted after you leave. Are you sure?' } %></td>
    <%end%>
    </tr>
  <% end %>
  </tbody>
</table>
</div>


<div style = "margin-top : 50px;">
<%= link_to 'Add New Group', new_group_path, :class => 'ui primary button'%>
<%= link_to controller: 'welcome' do %>
  <div class = "ui secondary button">
  Main Page
  </div>
  <% end %>
</div>
</div>
