<div class="ui container" style ="margin-top: 30px; margin-bottom: 30px;">
<h1 class="ui dividing header"><%= @group.name %></h1>
<div class="ui grid">
  <div class="twelve wide column">
      <p>
      <strong>About:</strong>
        <%= @group.text %>
      </p>

      <h1>Events</h1>
        <% @events.each do |event| %>
          <div class ="ui piled segment">
        <%= link_to group_event_path(@group,event), :class=>"ui content" do%>
          <h4 class="ui header"><%= event.name %></h4>
          <div style="color: black">
          <div class="ui content">Description: <%= event.content %></div>
          <div class="ui content">Organizer: <%= @users.find(event.creater_id).username %></div>
          <div class="ui content"><%= event.datetime %> </div>
          </div>
        <%end%>
        </div>
        <%end%>

        <%= link_to 'New Event', new_group_event_path(@group), :class=>"ui primary button"%>

<h1>Groupchats</h1>
<%= link_to 'New Groupchat', new_group_groupchat_path(@group), :class=>"ui primary button"%>
<%= link_to 'groupchats', group_groupchats_path(@group, @groupchat), :class=>"item" %>
  </div>

  <div class="four wide column">
    <h1 class="ui dividing header">Members</h1>
    <div class="ui list">
    <% @group.users.each do |member| %>
      <div class="item">
        <div class="ui avatar image">
        <%=image_tag("default_profile.png")%>
        </div>
        <div class="content">
        <%= link_to user_profile_path(member), :class=>"header" do %>
          <%= member.username %>
        <% end %>
        <div class="description">Some description</div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>

<div class="buttons" style="position: relative; margin-top: 40px;">
<% if @group.users.exists?(current_user.id) %>
  <%= link_to 'Edit', edit_group_path(@group), :class=>"ui secondary button" %> |
  <%= link_to 'Leave', join_group_path(@group),
              :class=>"ui secondary button",
              method: :put,
              data: { confirm: 'If you are the only member in the group, the group will be deleted after you leave. Are you sure?' } %> |
<% else %>
  <%= link_to 'Join', join_group_path(@group), :class=>"ui secondary button",  method: :put %> |
<% end %>
  <%= link_to 'Back', groups_path, :class=>"ui secondary button" %>
  </div>
