<div class = "ui container" style = "margin-top:30px; margin-bottom: 30px;">

<div class="ui inverted vertical masthead center aligned segment" style="background: url(<%= asset_path 'library2.jpeg' %>); background-size: cover; background-position: center center;">
<div class="ui container">
  <div class="ui text container" style="height: 200px">
    <h1 class="ui inverted header" style="padding-top: 50px">
      Building A+ students one course at a time
    </h1>
    </div>
  </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment" style="background: url(<%= asset_path 'background2.jpeg' %>); background-size: cover; background-position: center center;">
<div class="ui container">
  <div class="ui text container" style="height: 250px">
    <h1 class="ui inverted header" style="padding-top: 50px">
      The Study Buddy Story
    </h1>
    <h4 style="align:left">Study Buddy was a passion project born out of ECE444, a software engineering class that the five cofounders took together. The platform developed into something greater. Study Buddy now serves 10 different universities across Canada, with 10,000 monthly users. Study Buddy aims to become the number one study app for Canadian students</h4>
    </div>
  </div>
  </div>


<div class="ui middle aligned stackable grid container" style= "margin-top: 50px;">
	<div class="ui five cards">
	<div class="ui card">
	<div class="image">
    <%=image_tag("gasol.jpeg")%>
	</div>
	<div class="content">
	  <a class="header">Sulagshan Raveendrakumar</a>
	  <div class="meta">
		<span class="date">Joined in 2019</span>
	  </div>
	  <div class="description">
		Sulagshan is a 4th year EngSci ECE. He is adept at planning the flow of the application and coming up with new features to put his team one step above everyone else.
	  </div>
	</div>
  </div>
  <div class="ui card">
  <div class="image">
  <%=image_tag("fredvanvleet.jpeg")%>
  </div>
  <div class="content">
    <a class="header">Anirudh Sampath</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Anirudh is a 4th year EngSci ECE. He is an extremely capabable developer who takes on the toughest matchups. He likes to bet on himself.
    </div>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <%=image_tag("pascalsiakam.jpg")%>
  </div>
  <div class="content">
    <a class="header">Harold Xi</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Harold is a 4th year ECE. He prides himself on the design of the website and the effort that he puts into every project.
    </div>
  </div>
</div>
<div class="ui card">
  <div class="image">
  <%=image_tag("oganunoby.jpg")%>
  </div>
  <div class="content">
    <a class="header">Syed Rokib</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Syed is a 4th year ECE. He always jumps at every opportunity to do something amazing. Syed single-handedly solved some of the toughest technical challenges we faced.
    </div>
  </div>
</div>
<div class="ui card">
  <div class="image">
  <%=image_tag("kylelowry.jpg")%>
  </div>
  <div class="content">
    <a class="header">Zhihao Sheng</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Zhihao is a 4th year ECE. He is the strong and silent backbone of the team. He always makes sure whatever he implements is working 100%
    </div>
  </div>
</div>
	</div>
</div>
</div>