<div class="ui container">
<h1>Welcome to <%= @groupchat.groupchat_name %></h1>
<h2><%=@groupchat.initial_post%></h2>

<% if @groupchat.creater_id == current_user.id %>
  <%= link_to 'Edit Groupchat', edit_group_groupchat_path(@group,@groupchat) %> |
  <%= link_to 'Delete', group_groupchat_path(@group,@groupchat),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', group_path(@group) %>

<h3 class="ui dividing header">Comments</h3>
<div class="ui comments">
<% @comments.sort_by(&:created_at).each do |comment| %>
  <div class="comment">
    <a class="avatar">
      <%=image_tag("default_profile.png")%>
    </a>
    <div class="content">
      <a class="author"><%= User.find(comment.creater_id).username %> <%= link_to 'Profile', user_profile_path(User.find(comment.creater_id)) %></a>
      <div class="metadata">
        <span class="date"><%= comment.created_at %> </span>
      </div>
      <div class="text">
      <%= comment.body %> <% if comment.creater_id == current_user.id %> <% end %>
      </div>
      <div class="actions">
        <%= link_to 'Delete', group_groupchat_comment_path(@group,@groupchat,comment),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<%end%>

  <div class ="ui reply form">
  <%= form_with(model: [ @group, @groupchat, @comment ], local: true) do |form| %>
    <div class="field">
      <%= form.text_area :body %>
    </div>
    <%= form.submit class: "ui blue submit button" %>
    <% end %>
    </div>
</div>

<div style = "margin-top : 50px;">
    <%= link_to group_path(@group) do%>
      <div class = "ui secondary button">
      Back
      </div>
    <% end %>
    <%= link_to controller: 'welcome' do %>
      <div class = "ui secondary button">
      Main Page
      </div>
    <% end %>
</div>
</div>

