<%= form_with model: @professor, :class => "ui form", local: true do |form| %>
  <% if @professor.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@professor.errors.count, "error") %> prohibited
      this note from being saved:
    </h2>
    <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="ui container" style="margin-top: 50px; margin-bottom: 50px; padding: 0px">
    <h4 class="ui dividing header">Professor Information</h4>
      <div class = "field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class = "ui field">
      <%= form.label :image %>
      <%= form.file_field :avatar %>
    </div>
  
      <div class = "field">
        <%= form.label :department %>
        <%= form.text_field :department %>
      </div>
  
  
      <div class = "field">
        <%= form.label :position %>
        <%= form.text_field :position %>
      </div>
  
      <div class = "field">
        <%= form.label :about %>
        <%= form.text_area :about%>
      </div>

      <div class = "field">
      <%= form.label :rating %>
      <%= form.text_field :rating%>
    </div>
  
      <div class = "buttons">
        <%= form.submit :class=>'ui primary button' %>
        <%= link_to 'Back', professors_path, :class=>'ui secondary button' %>
       </div>
      </div>
    <% end %>
  
  