<div class ="ui container" style="margin-top: 50px;">

<h1><%= @professor.name %></h1>
<div class="ui medium image">
<%= image_tag @professor.avatar %><br/>
</div>
<p>
  <strong>Department:</strong>
  <%= @professor.department %>
</p>

<% if @courses.distinct.count(:course_code) == 0%>
<table class="ui sortable selectable celled table" id="courses-table" style="display:none;">
<%else%>
<table class="ui selectable celled table" id="courses-table" style="margin-top: 30px;">
<thead>
  <tr>
  <th>Course Name</th>
  <th>Name</th>
  <th>Subject</th>
  <th>Term</th>
  </tr>
  </thead>
<%end%>

<tbody id="myTable" >
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.course_code, course_path(course) %></td>
      <td><%= course.name %></td>
      <td><%= course.subject %></td>
      <td><%= course.term %></td>
    </tr>
  <% end %>
  </tbody>

<p>
  <strong>Position:</strong>
  <%= @professor.position %>
</p>

<p>
  <strong>About:</strong>
  <%= @professor.about %>
</p>

<p>
  <strong>Rating:</strong>
  <% @professor.rating.to_i.times do  %>
    <span class="glyphicon glyphicon-star"></span>
   <% end %>
   <% @blank_stars.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
   <% end %>
</p>

<% if current_user.username == 'admin' %>
  <%= link_to "Edit", edit_professor_path(), :class=>'ui primary button' %>
  <%= link_to 'Delete', professor_path(), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'ui secondary button' %>
<% end %>

<%= link_to 'Back', professors_path(), :class=>'ui button' %>

</div>
