<h1><%= @professor.name %></h1>

<p>
  <strong>Department:</strong>
  <%= @professor.department %>
</p>

<p>
  <strong>Position:</strong>
  <%= @professor.position %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @professor.rating %>
</p>

<% if current_user.username == 'admin' %>
  <%= link_to "Edit", edit_professor_path(), :class=>'ui secondary button' %>
  <%= link_to 'Delete', professor_path(), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'ui secondary button' %>
<% end %>

<%= link_to 'Back', professors_path(), :class=>'ui secondary button' %>
