<div class ="ui container" style="margin-top: 50px;">

<h1><%= @professor.name %></h1>
<div class="ui medium image">
<%= image_tag @professor.avatar %><br/>
</div>
<p>
  <strong>Department:</strong>
  <%= @professor.department %>
</p>

<p>
  <strong>Position:</strong>
  <%= @professor.position %>
</p>

<p>
  <strong>About:</strong>
  <%= @professor.about %>
</p>

<p>
  <strong>Rating:</strong>
  <% @professor.rating.to_i.times do  %>
    <span class="glyphicon glyphicon-star"></span>
   <% end %>
   <% @blank_stars.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
   <% end %>
</p>

<% if current_user.username == 'admin' %>
  <%= link_to "Edit", edit_professor_path(), :class=>'ui primary button' %>
  <%= link_to 'Delete', professor_path(), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'ui secondary button' %>
<% end %>

<%= link_to 'Back', professors_path(), :class=>'ui button' %>

</div>
