<h1>Listing Available Links for <%=@course.course_code%></h1>
<%= link_to 'Main Page', controller: 'welcome' %> |
<%= link_to 'New Link', new_course_link_path%>


<table>
  <tr>
    <th>Link Name</th>
    <th>Link URL</th>
    <th>Date Uploaded</th>
  </tr>
 
  <% @links.each do |link| %>
    <tr>
      <td><%= link.link_name %></td>
      <td> <%= link_to link.link_url, link.link_url, :target => "_blank" %></td>
      <td><%= link.created_at %></td>

    </tr>
  <% end %>
</table>

