<%= form_with scope: :link, :class => "ui form", url: course_links_path, local: true do |form| %>
  <div style="width: 1500px; margin-left: auto; margin-right: auto; margin-top: 75px; margin-bottom: 100px">
  <h1 class="ui dividing header">Create New Link</h1>

  <div class = "field">
      <%= form.label :link_name %><br>
      <%= form.text_field :link_name %>
  </div>
   
  <div class = "field">
      <%= form.label :link_url %><br>
      <%= form.text_field :link_url %>
  </div>
     
    <%= form.submit :class=>'ui primary button'%>
    <%= link_to 'Back', course_links_path, :class=>'ui secondary button' %>
    </div>
  <% end %>

