<div class="ui container" style="margin-left: 100px; margin-top: 50px">
<div><h1 class="ui dividing header">Available Courses</h1></div>

<div class="ui search" style="margin-top: 20px">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search classes...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<% if @courses.distinct.count(:course_code) == 0%>
<table class="ui sortable selectable celled table" id="courses-table" style="display:none;">
<%else%>
<table class="ui selectable celled table" id="courses-table" style="margin-top: 30px;">
<thead>
  <tr>
  <th>Course Name</th>
  <th>Name</th>
  <th>Subject</th>
  <th>Term</th>
  </tr>
  </thead>
<%end%>

<tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.course_code, course_path(course) %></td>
      <td><%= course.name %></td>
      <td><%= course.subject %></td>
      <td><%= course.term %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div style = "margin-top: 30px;">
<%= link_to 'New Course', new_course_path, :class => 'ui primary button'%>
<%= link_to 'Main Page', root_path, :class => 'ui secondary button' %>
</div>
</div>
