<div class="ui container" style=" margin-top: 50px; margin-bottom: 50px;">
<div><h1 class="ui dividing header">Available Courses</h1></div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<div class="ui search" style="margin-top: 20px">
  <div class="ui icon input">
    <input id="myInput" class="prompt" type="text" placeholder="Search classes..." >
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<% if @courses.distinct.count(:course_code) == 0%>
<table class="ui sortable selectable celled table" id="courses-table" style="display:none;">
<%else%>
<table class="ui selectable celled table" id="courses-table" style="margin-top: 30px;">
<thead>
  <tr>
  <th>Course Name</th>
  <th>Name</th>
  <th>Subject</th>
  <th>Term</th>
  </tr>
  </thead>
<%end%>

<tbody id="myTable" >
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.course_code, course_path(course) %></td>
      <td><%= course.name %></td>
      <td><%= course.subject %></td>
      <td><%= course.term %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div style = "margin-top: 30px;">
<% if @professor.distinct.count(:name) > 0 %>
<%= link_to 'New Course', new_course_path, :class => 'ui primary button'%>
<% else %>
<p>Try adding a Professor!</p>
<% end %>
<%= link_to 'Main Page', root_path, :class => 'ui secondary button' %>
</div>
</div>
