<p>
<strong>Course ID:</strong>
<%= @course.course_id %>
</p>


<p>
<strong>Notes:</strong>
<%= @course.notes %>
</p>

<p>
<strong>Links:</strong>
<%= link_to 'Links', course_links_path(@course, @link)%>
</p>

<p>
<strong>Discussions:</strong>
<%= @course.discussions %>
</p>

<p>
<strong>Groups:</strong>
<%= @course.groups %>
</p>

<%= link_to 'Notes', controller: 'notes' %>

<%= link_to 'Discussions', controller: 'discussions' %>

<%= link_to 'Back', courses_path %>
