<head>
    <style type="text/css">
        nav.ui.container .ui.header {
          float: left;
          margin-top: 12px;
        }
        nav.ui.container .ui.inverted.compact.menu {
          float: right;
        }
      .ui.inverted.vertical.center.aligned.segment {
        padding-top: 36px;
      }
      nav.ui.container .ui.inverted.compact.menu {
        background-color: rgb(51, 51, 51);
      }
      nav.ui.container .ui.inverted.compact.menu .item {
        padding-bottom: 0;
      }
      nav.ui.container .ui.inverted.compact.menu .item {
        font-size: 16px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 14px;
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 0;
      }
      nav.ui.container .ui.inverted.compact.menu .active.item {
        background-color: inherit;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 2px;
      }
      .ui.inverted.vertical.segment {
        height: 100vh;
        background-color: rgb(51, 51, 51);
      }
      .ui.inverted.segment {
        background-color: rgb(51, 51, 51);
      }
      .ui.content.container {
        float: left;
        height: 700px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .ui.content.container h1.header {
        font-size: 36px;
      }
      .ui.content.container p {
        font-size: 21px;
        line-height: 1.6;
        font-weight: 300;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .ui.inverted.vertical.segment footer.ui.segment {
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0;
        color: gray;
      }
      .ui.inverted.vertical.segment footer.ui.segment a {
        color: white;
      }
      .arrow.left.icon {
          float: left;
          margin-left: 100px;
          margin-top: 20px;
      }
    </style>
  </head>

    <div class="ui inverted vertical segment">
    <%= link_to courses_path do%>
    <i class="large arrow left icon"></i>
    <% end %>
      <nav class="ui container" style="width:800px">
        <h1 class="ui inverted header">
        <%= @course.course_id %>
        <%= @course.term %>
        </h1>
        <div class="ui borderless inverted compact menu">
          <a class="active item">Home</a> 
            <%= link_to 'Notes', course_notes_path(@course), :class=>"item"%>
            <%= link_to 'Links', course_links_path(@course, @link), :class=>"item"%>
            <%= link_to 'Discussions', course_discussions_path(@course, @discussion), :class=>"item" %>
            <%= @course.groups%>
        </div>
      </nav>
      <div class="ui content container" style="width:800px">
      <div class = "ui inverted segment">
      <img class="ui medium circular left floated image" src="https://s3.amazonaws.com/spoke-profiles-prod-assets/avatars/210x210h/337c08f9abb6747b6a5eb789f1b7e704d132adf7.png">
        <h2 class="ui inverted header">Professor Michael Stumm</h2>
        <p>
            Michael Stumm is a distinguished lecturer and Professor at the University of Toronto 
        </p>
      </div>
      <div class = "ui inverted segment" style= "margin-top : 160px">
        <h1 class="ui inverted header">Course Description</h1>
        <p>
            ECE444 is truly an excellent class taught by a wonderful professor teaching
            up and coming software engineers the true lessons of what it means to work 
            in industry. With subtle jabs at companies such as IBM and professions such
            as consulting, Professor Stumm truly brings to life lectures and captivates 
            his audience.
        </p>
        </div>
      </div>
    </div>
