<div class="ui container" style=" margin-top: 50px; margin-bottom: 50px;">

        <h1 class="ui dividing header"><%= @course.name %></h1>

        <div class="ui borderless compact menu">
          <%= link_to 'Home', course_path(@course), :class=>"active item"%>
          <%= link_to 'Notes', course_notes_path(@course), :class=>"item"%>
          <%= link_to 'Links', course_links_path(@course, @link), :class=>"item"%>
          <%= link_to 'Discussions', course_discussions_path(@course, @discussion), :class=>"item" %>
          <%= @course.groups%>
        </div>

      <div class = "ui text">
      <p>
      <div class ="ui small circular left floated image">
      <%= image_tag @professor.avatar %><br/>
      </div>
        <h2 class="ui header">Professor <%= link_to @professor.name, professor_path(@professor) %></h2>
          <h4>About</h4>
          <%=@professor.about %>
        </p>
      </div>
      <div class = "ui text" style= "margin-top : 160px">
        <h1 class="ui header">Course Description</h1>
        <p>
          <%= @course.description%>
        </p>
        </div>

        
        <% if current_user.username == 'admin' %>
        <div class = "buttons" style="margin-top: 20px">
  <%= link_to "Edit", edit_course_path(), :class=>'ui primary button' %>
  <%= link_to 'Delete', course_path(), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'ui secondary button' %>
  </div>
<% end %>
    </div>