<!DOCTYPE html>
<html>
<head>
  <title>StudyBuddy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>        
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="ui inverted large top menu" style="margin-bottom: 0px">
  <div class="ui container">
    <% if request.fullpath == "/" %>
      <a class="active item" href="/">StudyBuddy</a>
    <% else %>
      <a class="item" href="/">StudyBuddy</a>
    <% end %>
    <% if request.fullpath == "/courses" %>
      <a class="active item" href="/courses">Courses</a>
    <% else %>
      <a class="item" href="/courses">Courses</a>
    <% end %>
    <% if request.fullpath == "/professors" %>
      <a class="active item" href="/professors">Professors</a>
    <% else %>
      <a class="item" href="/professors">Professors</a>
    <% end %>
    <% if request.fullpath == "/groups" %>
      <a class="active item" href="/groups">Groups</a>
    <% else %>
      <a class="item" href="/groups">Groups</a>
    <% end %>
    <% if request.fullpath == "/buddies" %>
      <a class="active item" href="/buddies">Buddies</a>
    <% else %>
      <a class="item" href="/buddies">Buddies</a>
    <% end %>
      <div class="right menu">
          <% if user_signed_in? %>
          <div class="item">Logged in as 
            <b>&nbsp;<%= current_user.username %></b>
            <%= image_tag current_user.profile.avatar if current_user.profile.avatar.attached? %>
          </div>
          <%= link_to 'My Profile', user_profile_path(current_user), :class => 'item' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'item'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'item'  %>
          <%= link_to "Login", new_user_session_path, :class => 'item'  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

    <div>
    <!-- for each flash message display it and set class to alert, alert-name(e.g. alert-danger)-->
      <% flash.each do |name, msg| %>
        <div class="ui warning message" style="margin: 0">
          <strong><%= name %></strong>
          <p><%= msg %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

<!--
Dead code:
      <%
=begin%>
 <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %> 
<%
=end%>
-->